1. **Membership Test**:
   - Given a dictionary `city_presence = {'New York': True, 'Berlin': True, 'Tokyo': True, 'Sydney': True}`.
   - Determine if 'London' and 'Tokyo' are keys in `city_presence` by using membership tests.

In [2]:
city_presence = {
    'New York': True,
    'Berlin': True,
    'Tokyo': True,
    'Sydney': True}

In [3]:
"Tokyo" in city_presence

True

In [4]:
"London" in city_presence

False

2. **Default Values with `setdefault`**:
   - Create a dictionary `student_score = {'Alice': 88, 'Bob': 95}`.
   - Use the `setdefault` method to return 'Bob's score and insert 'Charlie' with a score of 0 if he doesn't exist in the dictionary. Display the dictionary after this operation.

In [6]:
student_score = {
    "Alice" : 88,
    "Bob" : 95,
}
student_score.setdefault("Bob")

95

In [8]:
student_score.setdefault("Charlie", 0)
student_score

{'Alice': 88, 'Bob': 95, 'Charlie': 0}

3. **Updating a Single Item**:
   - Starting with the dictionary `preferences = {'color': 'blue', 'food': 'pizza', 'drink': 'water'}`.
   - Update the value associated with the key 'drink' to 'orange juice'.

In [10]:
preferences = {
    'color': 'blue',
    'food': 'pizza',
    'drink': 'water',
    }
preferences.update(drink = "orange juice")
preferences

{'color': 'blue', 'food': 'pizza', 'drink': 'orange juice'}

4. **Dictionary Merging and Updating**:
   - Create two dictionaries: `stock_A = {'apples': 5, 'oranges': 7}` and `stock_B = {'oranges': 12, 'bananas': 3}`.
   - Update `stock_A` with the contents of `stock_B` and observe how the value for 'oranges' changes.

In [11]:
stock_A = {
    "apples" : 5,
    "oranges" : 7,
}
stock_B = {
    "oranges" : 12,
    "bananas" : 3,
}

In [14]:
stock_A.update(stock_B)
stock_A

{'apples': 5, 'oranges': 12, 'bananas': 3}

5. **Nested Dictionary Access**:
   - With a nested dictionary `account_info = {'user1': {'name': 'Alice', 'password': 'alice123'}, 'user2': {'name': 'Bob', 'password': 'bobsecure'}}`, access and display the password for 'user1'.

In [17]:
account_info = {
    'user1': {'name': 'Alice', 'password': 'alice123'},
    'user2': {'name': 'Bob', 'password': 'bobsecure'},
    }
account_info['user1']['password']

'alice123'