**Tasks:**

Given Data:

In [ ]:
text = "The quick brown fox jumps over the lazy dog"
numbers_list = [8, 23, 45, 12, 78]
mixed_list = ["hello", 10, "world", 42]

1. **String Analysis**:
   - Find and print the number of characters in the `text` string using a built-in function.
   - Convert the `text` string to uppercase and print the result.

In [17]:
text = "The quick brown fox jumps over the lazy dog"
print(f'Number of characters: {len(text)}')

Number of characters: 43

In [18]:
print(f'Uppercase text: {text.upper()}')

Uppercase text: THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG

2. **Numeric Calculations**:
   - Calculate and print the sum of all the numbers in `numbers_list`.
   - Find and print the maximum and minimum numbers in `numbers_list`.

In [19]:
numbers_list = [8, 23, 45, 12, 78]
total = sum(numbers_list)
print(f"Sum of numbers: {sum(numbers_list)}")

Sum of numbers: 166

In [20]:
print(f"Maximum number: {max(numbers_list)}")
print(f"Minimum number: {min(numbers_list)}")

Maximum number: 78
Minimum number: 8

3. **List Manipulation**:
   - Use a built-in function to count the number of times the number `10` appears in `mixed_list`.
   - Print a sorted version of `numbers_list` in descending order without modifying the original list.

In [21]:
mixed_list = ["hello", 10, "world", 42]
print(f"Occurrences of 10: {mixed_list.count(10)}")

Occurrences of 10: 1

In [22]:
sorted(numbers_list, reverse= True)

[78, 45, 23, 12, 8]

4. **Iterating with Built-in Functions**:
   - Use a built-in function to iterate over `text` and print each word, but only if the word is not "the".
   - Apply a built-in function to `numbers_list` to create a new list where each number is squared (i.e., number^2). Print the new list.

In [37]:
text = "The quick brown fox jumps over the lazy dog"

print(f'Iterated words(excluding "the"): ')
for word in filter(lambda w: w.lower() != "the" , text.split()):
    print(word)

Iterated words(excluding "the"):
quick
brown
fox
jumps
over
lazy
dog

In [43]:
squared_numbers = list(map(lambda x: x**2, numbers_list))
print(f"Squared_numbers: {squared_numbers}")

Squared_numbers: [64, 529, 2025, 144, 6084]